@charset "utf-8";
/* CSS Document */
/* Schriftarten einbinden */
@font-face {
  font-family: 'Pokemon';
  src: url('../schriften/PokemonClassic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Museo';
  src: url('../schriften/museosanscyrl-300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Museo';
  src: url('../schriften/museosanscyrl-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Museo';
  src: url('../schriften/museosanscyrl-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
/* Allgemeine Einstellungen */
body {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
/* Farben */
.dBlau {
  background-color: #39659F;
}
.hBlau {
  background-color: #88a3c5;
}
.grau {
  background-color: #6F7072;
}
.dGrau {
  background-color: #161616;
}
.gelb {
  background-color: #f1d992;
}
.weiss {
  background-color: #FFFFFF;
}
.dBlau-font {
  color: #39659F;
}
.hBlau-font {
  color: #88a3c5;
}
.grau-font {
  color: #6F7072;
}
.dGrau-font {
  color: #161616;
}
.gelb-font {
  color: #f1d992;
}
.weiss-font {
  color: #FFFFFF;
}
.magenta-font {
  color: #BE006E;
}
/* Schriften */
h1, h2, h3 {
  font-family: 'Pokemon', serif;
}
p {
  font-family: 'Museo', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.75em;
}
ul li {
  font-family: 'Museo', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5;
}
ol {
  font-family: 'Museo', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5;
}
label {
  font-family: 'Museo', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.5;
}
/*Links*/
a {
  text-decoration: none;
  font-family: 'Museo', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #000000;
}
a:hover {
  color: #BE006E;
}
/*Buttons*/
.buttonMenue {
  font-family: 'Pokemon', serif;
  background-color: #39659F;
  font-size: 1em;
  margin-right: 0.75em;
  margin-left: 0.75em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  padding: 1.4em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}
/* Hover-Effekt */
.buttonMenue:hover {
  border: 4px solid #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  background-color: #4a76a8;
  border-color: #BE006E;
  cursor: pointer;
}
.buttonMenue:active {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  background-color: #4a76a8;
  border-color: #BE006E;
}
.buttonMenue.selected {
  border: 4px solid #BE006E;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  background-color: #4a76a8;
}
/*Display Ausrichtung*/
.flex {
  display: flex;
}
.flex-center {
  align-items: center;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.justifiy-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.text-align{
  text-align: center;
}
/*Bibliothek style*/
#sidebar {
  padding: 10px;
  border-right: 1px solid #ddd;
}
#content {
  flex-grow: 1;
  padding: 20px;
  height: 500px;
  overflow-y: auto;
}
.homeContent {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}
/*Bib Einleitung*/
.dropdown {
  margin-bottom: 20px;
}
.dropdown-content {
  display: none;
  margin-top: 10px;
  padding: 50px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
.dropdown-btn {
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-family: 'Pokemon', serif;
}
.dropdown-btn:focus {
  outline: none;
}
/*Bib Test*/
.question {
  margin-bottom: 20px;
}
.result {
  margin-top: 20px;
  font-weight: bold;
}
/*Flyer Popup*/
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 20px;
  background-color: #f1d992;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5em;
  color: #333;
}
.popup .content {
  margin-top: 20px;
}
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
/*Eingabe Hauptraum*/
#result {
  margin-top: 20px;
}
.correct {
  color: green;
  font-weight: bold;
}
.incorrect {
  color: red;
  font-weight: bold;
}
/*Level Eins*/
     #textContainer {
            width: 600px;
            margin: 50px auto;
            text-align: center;
            border: 1px solid #ccc;
            padding: 20px;
			background-color: white;
        }

        .arrow {
            cursor: pointer;
            margin: 0 10px;
			color: #FFFFFF;
			background-color: #39659F;
			padding: 10px;
        }

        #noteTextArea {
            width: 100%;
            height: 100px;
            margin-bottom: 10px;
        }
#arrowContainer{
	    display: flex;
    align-items: center;
    justify-content: center;
}

#eingabefenster{
	width: 400px;
    height: 100px;
}